* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    } 
    
.encabezado-nosotros{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    
}


.carta-uno{
    background-image: url(../assets/avatarnacho.jpeg);
    background-size: cover;
    overflow: hidden;
    
}

.carta-dos{
    background-image: url(../assets/avatarlautaro.jpeg);
    background-size: cover;
    overflow: hidden;
    
}

.carta-tres{
    background-image: url(../assets/avatarale.jpg);
    background-size: cover;
    overflow: hidden;
}

.carta-cuatro{
    background-image: url(../assets/01.jpeg);
    background-size: cover;
    overflow: hidden;
}

.contenido-carta{
    opacity: 0;
}

.contenido-carta:hover{
    font-family: 'Montserrat', sans-serif;
    font-family: 'Nunito', sans-serif;
    opacity: 0.9;
    transition: .8s;
    background: rgb(8, 8, 8);
    color: rgb(255, 255, 255);
} 



@media (max-width: 769px) {
    .imagen-foot {
        display: flex;
        justify-content: center;
    }
}

@media (max-width: 769px) {
    .not-mobile{
        display: none;
    }
}

@media (min-width: 769px) {
    .mobile{
        display: none;
    }
    .maquinaEscribir-contenedor {
        margin: auto;
        display: table;
    }
    
    .maquinaEscribir {
        float: left;
        position: relative;
    }
    
    .animacionTexto {
        position: absolute;
        right: 0;
        width: 0;
        background: white;
        border-left: 1px solid black;
        animation: maquina 4s infinite alternate steps(46);
    }
}





@keyframes maquina {
    from {
        width: 100%;
    } to {
        width: 0;
    }
} 